<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <!-- 扫描web相关的bean -->
    <context:component-scan base-package="com.liuyingke.controller"/>

    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven/>

    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>

    <!--jsp视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="3"/>
    </bean>

    <!--针对FreeMaker的视图解析配置-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="cache" value="true"/>
        <!--前缀-->
        <property name="prefix" value="/WEB-INF/ftl/"/>
        <!--后缀-->
        <property name="suffix" value=".ftl"/>
        <!--编码设置-->
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <!--解析器使用的顺序-->
        <property name="order" value="1"/>
        <property name="allowSessionOverride" value="true"/>
        <property name="requestContextAttribute" value="request"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>

    </bean>
    <!-- 配置freeMarker的模板路径 -->
    <!-- <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">   -->
    <!-- 用自定义的类 替代原生类-->
    <bean id="freemarkerConfig" class="com.liuyingke.utils.FreeMarkerConfigExtend">
        <!--shiro标签仅限用在该路径下的ftl页面，不能使用include引入-->
        <property name="templateLoaderPath" value="/" />
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">0</prop>
                <prop key="default_encoding">utf-8</prop>
                <prop key="number_format">\#0.\#\#\#\#\#</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="classic_compatible">true</prop>
                <prop key="template_exception_handler">ignore</prop>
                <!--<prop key="auto_import">/common/page.ftl as p</prop>-->
                <!--<prop key="auto_include">/common/page.ftl</prop>-->
            </props>
        </property>
    </bean>
</beans>